.top-bar {
    position: absolute;
    bottom: 1em;
    right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F0F0F0;
    padding: 0.5em 0.75em;
    border-radius: 3px;
}

.top-bar svg {
    width: 1.25em;
    stroke-width: 1.25px;
}

.top-bar svg:not(:last-child) {
    margin-right: 0.75em;
}