.footer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0.25em 0.5em calc(0.25em + 1px);
  background: var(--shade-bg);
  border-top: 1px solid var(--border);
}

[data-theme="dark"] .footer {
  background: var(--dank);
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-section svg {
  stroke-width: 1.5px;
  width: 1em;
  height: 1em;
}

.library-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-button {
  display: flex;
  align-items: center;
  z-index: 20;
  padding: 0.5em;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-size: 1rem;
  line-height: 1rem; /* Inline SVG issue */
  border-radius: 2px;
  transition: 100ms transform;
}

[data-theme="light"] .nav-button:active {
  transform: translateY(1px);
}

.nav-button:not(:last-child) {
  margin-right: 0.25em;
}

.nav-button:hover {
  background: var(--shade);
}

.count {
  margin-right: 0.25em;
  font-size: 0.9rem;
}

.workspace-selector {
  display: flex;
  flex-direction: row;
}

.workspace-button {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 20;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  background: none;
  border-radius: 2px;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 2px;
  transition: 100ms transform;
}

.workspace-button:not(:first-child) {
  margin-left: 0.5em;
}

.workspace-button.active {
  background: var(--shade);
}
.workspace-button:not(.active) {
  box-shadow: 1px 1px 0px #0000002e;
}
