.nav {
    display: flex;
    flex-direction: column;
    width: 15em;
    padding: 0 0.5em;
    border-right: 1px solid var(--border);
    transition: margin 0.1s;
    overflow-y: scroll;
    background: var(--shade-bg);
}

.nav-text-button {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    height: 28px;
    width: 100%;
    background: var(--shade-bg);
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0.25em 0.5em;
    cursor: pointer;
    margin: 0;
    line-height: 1em;
}

.nav-text-button[aria-selected="true"] {
    background: var(--shade);
}

.nav-text-button.active {
    border: 1px solid var(--blue-tint);
}

.nav-text-button span {
    margin-left: 0.5em;
}

.nav-text-button:hover {
    background: var(--mid-shade);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.placeholder {
    background: var(--mid-shade);
    animation: fadeIn 0.15s linear forwards;
}

.add-list-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.5em;
    color: #888;
}

.sticker-nav {
    padding: 0.5em 0.25em;
}

.sticker-nav button {
    background: none;
    border: none;
    cursor: pointer;
}
