.check-button {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  background: none;
  border: none;
  width: 32px;
  height: 32px;
}

.check {
  width: 0.9em;
  height: 0.9em;
  border: 1px solid #00000021;
  border-radius: 2px;
}

.checked.check svg {
  position: relative;
  top: -4px;
  left: -2px;
}

.checked.check::after {
  opacity: 1;
}

[data-theme="dark"] .check {
  border-color: #ffffff1f;
}
