.item-container {
    max-width: 44em;
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 3px;
    height: 4em;
    user-select: none;
}

.item-container-dragging {
    background: yellow !important;
}
.item-container-selected {
    background: #ccc;
}

.item-edit {
    
}

.item-container:hover {
    background: #d9d9d9;
    cursor: pointer;
}
