.cal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.header-canvas {
  position: relative;
  width: 100%;
  height: 75px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.grid-container {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.grid-canvas {
  position: absolute;
  left: 0;
  width: calc(100% + 100px);
  height: 200px;
}

.grid-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

.events {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.event {
  position: absolute;
  width: 200px;
  height: 50px;
  background: #eee;
  border-radius: 3px;
}
