body {
  font-family: monospace;
}
.item {
  position: absolute;
  flex-shrink: 0;
  width: 100%;
  height: 28px;
}
.item.fade-enter-active,
.item.fade-exit-active {
  transition: height 120ms;
}
.item.fade-enter,
.item.fade-exit-to {
  height: 0px;
  opacity: 0;
}
.item.fade-enter {
  height: 28px;
}
.item_internal {
  position: absolute;
  width: 100%;
  height: 28px;
  z-index: 2;
}
.item_internal {
  transition: top 120ms;
  top: 0px;
}
.item_internal.below {
  top: 28px;
}
.item_internal.above {
  top: -28px;
}

.placeholder {
  width: 100%;
  height: 28px;
  z-index: 0;
  background: #151515;
  transition: background 80ms;
}

.placeholder:hover {
  background: #151515;
}

.placeholder.origin {
  opacity: 0;
  transition: opacity 80ms;
}

.placeholder.origin.visible {
  opacity: 1;
}

.placeholder.fade-enter-active,
.placeholder.fade-exit-active {
  transition: opacity 80ms;
}
.placeholder.fade-exit-to {
  opacity: 0;
}
.placeholder.fade-enter {
  opacity: 1;
}

.list-backdrop {
  z-index: 0;
  width: 100%;
  flex-grow: 1;
  min-height: 28px;
}
