.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.container canvas {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .list {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overscroll-behavior: contain;
}

.item-container {
    position: absolute;
    width: 100%;
    transition: transform 0.1s ease;
    transition-delay: 0.01s;
    will-change: transform;
    transform: translateY(var(--pos));
    height: 32px;
}

.no-animation .item-container {
    transition: none;
}
