:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tree-item {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
}

.tree-item:hover {
  background: #ccc;
}

.tree-item[aria-selected='true'] {
  background: #999;
}

.container {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
