.check {
    display: block;
    position: relative;
    padding-left: 1.25em;
    margin-bottom: 1em;
    cursor: pointer;
    top: 2px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    background: none;
    /* border: 1px solid var(--border); */
    border-radius: 3px;
    width: 0.75em;
    height: 0.75em;
    margin-right: 0.5em;
    border: 1px solid var(--light-shade);
}

[data-theme="light"] .check span {
    border: 1px solid #ddd;
}

.check:hover input ~ span {
    background: var(--light-shade);
}

.check:hover {
    background: var(--light-shade);
}

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ span {
    /* background-color: #2196F3; */
}

/* Show the checkmark when checked */
.check input:checked ~ span:after {
    display: block;
}

/* Style the checkmark/indicator */
.check input:checked ~ span::after {
    position: relative;
    left: 2px;
    top: -6px;
    width: 10px;
    height: 10px;
    content: url(../icons/check-hand.svg);
}
