.check {
  position: relative;
  z-index: 1;
  display: block;
  min-width: 0.9em;
  min-height: 0.9em;
  border: 1px solid #00000021;
  border-radius: 4px;
  background: none;
}

.checked {
  background: #a5a5ff;
  border-color: #a5a5ff;
}

[data-theme="dark"] .check {
  border-color: #ffffff1f;
}
