.tree-item {
    display: flex;
    align-items: center;
    background: var(--background);
    border-bottom: 1px solid var(--border);
    cursor: default;
    color: var(--body);
    height: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: hidden;
    padding: 0 0.25em;
}

:global(.dragged) .tree-item {
    border-radius: 3px;
}

.tree-item[aria-selected="true"] {
    /* TODO: This should be blue-tint-light */
    background: var(--blue-tint-light);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.focus.tree-item[aria-selected="true"] {
    background: var(--blue-tint);
}

[data-theme="dark"] .focus.tree-item[aria-selected="true"] {
    background: var(--ultra-light-shade);
}

[data-theme="dark"] .tree-item[aria-selected="true"] {
    background: var(--light-shade);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Rounding contiguous selection ranges: top corners */
:global(.item)[aria-selected="false"]
    + :global(.item)[aria-selected="true"]
    .tree-item {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}

/* Rounding contiguous selection ranges: top corners */
:global(.item)[aria-selected="false"]
    + :global(.item)[aria-selected="true"]
    .tree-item {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

:global(.item)[aria-selected="true"]:first-child .tree-item {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/* Rounding contiguous selection ranges: bottom corners */
:global(.item)[aria-selected="true"]:has(
        + :global(.item)[aria-selected="false"]
    )
    .tree-item {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

:global(.item)[aria-selected="true"]:last-child .tree-item {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Selected items: removing border */
:global(.item)[aria-selected="false"]:has(
        + :global(.item)[aria-selected="true"]
    )
    .tree-item {
    border-bottom: 1px solid transparent;
}

.placeholder {
    border-radius: 3px;
    background: var(--mid-shade);
    animation: fadeIn 0.15s linear forwards;
}

.app {
    display: flex;
    justify-content: center;
}

.container {
    top: 0;
    position: absolute;
    padding: 0 2em;
    max-width: 80em;
    margin-left: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-weight: 400;
}

.sticker-container {
    padding: 0.25em;
}

.sticker-container button {
    cursor: pointer;
    background: none;
    border: none;
    margin-right: 0.25em;
    padding: 0.25em;
    border-radius: 2px;
}
