.container {
    display: flex;
    margin: 0;
    top: 0;
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-family: alte haas grotesk;
    font-weight: 400;
    font-size: 2em;
    max-width: 48em;
}

.content {
    position: relative;
}
