.tree-item {
  background: white;
  border: 1px solid #eee;
  cursor: pointer;
}

.tree-item[aria-selected='true'] {
  background: #999;
}

.dragOriginPlaceholder {
  background: #eee;
  height: 100%;
}
