.item {
  height: 26px;
}
.item.fade-enter-active,
.item.fade-exit-active {
  transition: height 120ms;
}
.item.fade-enter,
.item.fade-exit-to {
  height: 0px;
  opacity: 0;
}
.item.fade-enter {
  height: 26px;
}
