:root {
    --list-pad: 4px;
}

.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 100%;
    border-right: 1px solid var(--border);
    padding: 0.25em 0.5em;
}

.list-icon {
    display: block;
    flex-shrink: 0;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 2px;
}

.list-scroll {
    overflow-y: scroll;
    border-right: 1px solid var(--border);
    height: 100%;
    padding: var(--list-pad);
}

.list h2 {
    font-weight: 500;
    font-size: 1rem;
}

/* List Header */
.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    flex-shrink: 0;
}

/* [data-theme="dark"] .list-header-internal {
  background: var(--shade);
} */

.list-header .title-text {
    color: var(--body-tint);
}

.focus .list-header .title-text {
    color: var(--body);
}
.list-header img {
    opacity: 0.5;
}
.focus .list-header img {
    opacity: 1;
}

.focus .list-header-internal {
    /* background: var(--tint-shade); */
}

/* [data-theme="dark"] .active .list-header-internal {
  background: var(--light-shade);
} */

.list-button {
    height: 2.5em;
    width: 2.5em;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 2px;
}

.list-button:hover {
    background: var(--shade);
}

.list-button svg {
    width: 1em;
    stroke-width: 1.5px;
    color: var(--body-tint);
}

.blank-list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #939393;
}

.blank-list span {
    padding: 0.125em 0.25em;
    border: 1px solid var(--shade);
    border-radius: 2px;
    margin-left: 0.25em;
}
