:root {
    --list-pad: 4px;
}

.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 100%;
}

.list-icon {
    display: block;
    flex-shrink: 0;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 2px;
}

.list-scroll {
    overflow-y: scroll;
    border-right: 1px solid var(--border);
    height: 100%;
    padding: var(--list-pad);
}

.list h2 {
    font-weight: 500;
    font-size: 1rem;
}

/* List Header */
.list-header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0.25em;
}

.primary {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    padding-left: 0.5em;
    color: var(--body-tint);
}

.list-head-button {
    font-size: 1rem;
    cursor: pointer;
    margin: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 0.5em;
    border-radius: 2px;
}

.list-head-button:hover {
    background: var(--shade);
}

.list-head-button[aria-expanded="true"] {
    background: var(--shade);
}

/* [data-theme="dark"] .list-header-internal {
  background: var(--shade);
} */

.list-header .title-text {
    color: var(--body);
}

/* .focus .list-header .title-text {
    color: var(--body);
} */
.list-header img {
    opacity: 1;
}

.focus .list-header-internal {
    /* background: var(--tint-shade); */
}

/* [data-theme="dark"] .active .list-header-internal {
  background: var(--light-shade);
} */

.list-button {
    height: 2em;
    width: 2em;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 2px;
}

.list-button:hover {
    background: var(--shade);
}

.list-button svg {
    width: 1em;
    stroke-width: 1.5px;
    color: var(--body-tint);
}

.blank-list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #939393;
}

.blank-list span {
    padding: 0.125em 0.25em;
    border: 1px solid var(--shade);
    border-radius: 2px;
    margin-left: 0.25em;
}

.tree-wrap {
    display: flex;
    flex-direction: row;
    min-height: 0;
    max-height: 100%;
    flex-grow: 1;
    padding: 0.25em 0.5em;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-native-scroll::-webkit-scrollbar {
    display: none;
}
.hide-native-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.keyboard-marker {
    position: relative;
    margin-left: 0.25em;
    color: #67608c;
}

.list-col-head {
    display: flex;
    padding: 0 0.5em;
    color: var(--body-tint);
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
}

.list-col-head-item {
    display: inline-flex;
    padding: 0 0.5em;
    height: 30px;
    align-items: center;
}
