:root {
  --background: #FAF7FF;
  --border: #e1e1e1;
  --shade: #E8D9E4;
  --light-shade: #F4E9F2;
  --ultra-light-shade: #F2EBF1;
  --body: black;
  --body-font: 'diatype-trial', sans-serif;
}

#root {
  /* z-index: 0; */
  position: relative;
}

[data-theme="dark"] {
  --background: #1E1E1E;
  --border: #28282C;
  --shade: #28282C;
  --light-shade: #313135;
  --ultra-light-shade: #3e3e44;
  --body: white;
}

@font-face {
  font-family: 'diatype-trial';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url('src/assets/diatype-regular.woff2') format('woff2'), url('src/assets/diatype-regular.woff2') format('woff');
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--body);
}

button {
  color: inherit;
}

input {
  color: inherit;
}

#context-menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
}
