:root {
  --border: #e1e1e1;
}

@font-face {
  font-family: 'diatype-trial';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url('src/assets/diatype-regular.woff2') format('woff2'), url('src/assets/diatype-regular.woff2') format('woff');
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'diatype-trial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}