:root {
  --border: #e1e1e1;
  --shade: #f0f0f0;
  --blur: 0.8399999999999994px;
  --spread: -0.5999999999999996px;
  --horiz: 0.3693968851953951px;
  --vert: 0.47280645216403266px;
}

@font-face {
  font-family: 'diatype-trial';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url('src/assets/diatype-regular.woff2') format('woff2'), url('src/assets/diatype-regular.woff2') format('woff');
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'diatype-trial', sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(249, 248, 244);
}