:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: whitesmoke;
}

.tree-item {
  display: flex;
  align-items: center;
  background: black;
  color: whitesmoke;
  border: 1px solid #333;
  cursor: default;
  height: 100%;
}

.tree-item[aria-selected='true'] {
  background: darkblue;
}

.container {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
