body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  font-size: 13px;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  margin: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tree-item-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.tree-item {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: default;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.tree-item[aria-selected="true"] {
  z-index: 5;
  background: #d7d7e7;
}

.focus .tree-item[aria-selected="true"] {
  background: #aae;
}

:global(.item)[aria-selected="false"]
  + :global(.item)[aria-selected="true"]
  .tree-item {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

:global(.item)[aria-selected="true"]:has(
    + :global(.item)[aria-selected="false"]
  )
  .tree-item {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  display: flex;
}

.container {
  top: 0;
  position: absolute;
  padding: 2em;
  min-width: 80em;
  margin-left: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 12px;
  font-weight: 400;
}

.item-margin {
  width: 1.5em;
  height: 100%;
}

.expand {
  width: 1.5em;
  background: none;
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand img {
  width: 0.5em;
}

[aria-expanded="false"] .expand {
  transform: rotate(-90deg);
}

.child_selected {
  border: 1px solid #93b8ff;
}
