body {
    font-family: "Test Söhne";
    font-size: 13px;
    height: 100%;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #121212;
    color: whitesmoke;
}

.tree-item {
    display: flex;
    align-items: center;
    background: #121212;
    color: whitesmoke;
    border: 1px solid #222;
    cursor: default;
    height: 100%;
}

.tree-item[aria-selected="true"] {
    background: #1b1b1b;
}

.focus .tree-item[aria-selected="true"] {
    background: #2d2d35;
}

:global(.item)[aria-selected="false"]
    + :global(.item)[aria-selected="true"]
    .tree-item {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}

:global(.item)[aria-selected="true"]:has(
        + :global(.item)[aria-selected="false"]
    ) {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.placeholder {
    background: red;
    animation: fadeIn 0.15s ease-in forwards;
}

.app {
    display: flex;
    justify-content: center;
}

.container {
    top: 0;
    position: absolute;
    padding: 0 2em;
    max-width: 80em;
    margin-left: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: Alte Haas Grotesk;
    font-weight: 600;
}
