.check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.check span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    background: none;
    /* border: 1px solid var(--border, value); */
    border-radius: 3px;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.check:hover input ~ span {
    background-color: #ccc;
  }

.check:hover {
    background: #f2f2f2;
}

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ span {
    background-color: #2196F3;
}

/* Show the checkmark when checked */
.check input:checked ~ span:after {
    display: block;
}

/* Style the checkmark/indicator */
.check span:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}