.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 100vh;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border, value);
    border-right: 1px solid var(--border, value);
}

.list-scroll {
    overflow-y: scroll;
    padding: 0.5em;
    border-right: 1px solid var(--border, value);
    height: 100%;
}

.list h2 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.25em;
}