.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 100%;
}

.list-header {
    border-right: 1px solid var(--border, value);
    padding: 0.5em;
}

.list-header-internal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(126,126,126,0.20); 
    padding: 0.25em 0;
}

.active .list-header svg {
    color: black;
}

.list-scroll {
    overflow-y: scroll;
    padding: 0 0.5em;
    border-right: 1px solid var(--border, value);
    height: 100%;
}

.list h2 {
    font-weight: 500;
    font-size: 1rem;
}

.placeholder {
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 3px;
    min-height: 3.5em;
    user-select: none;
    display: flex;
    align-items: center;
    background: #eee;
}

.item {
    box-sizing: border-box;
    padding: 0.5em;
    /* border-radius: 3px; */
    min-height: 3.5em;
    user-select: none;
    display: flex;
    align-items: center;
}

.active .item.selected {
    background: #E4DDE3;
}

.item.selected {
    background: #eee;
}

.item.selected-first {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.item.selected-last {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.item:hover {
    background: #f8f8f8;
    cursor: pointer;
}

.check {
    background: #dcdde1;
    /* border: 1px solid var(--border, value); */
    border-radius: 2.5em;
    width: 2.5em;
    height: 2.5em;
    margin-right: 0.5em;
    box-shadow: calc(clamp(0px, var(--horiz), 2px)) calc(clamp(0px, var(--vert), 2px)) 2px calc(var(--spread)) rgba(0, 0, 0, 0.233), calc(2 * var(--horiz)) calc(2 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.20), calc(3 * var(--horiz)) calc(3 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.123), calc(5 * var(--horiz)) calc(5 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.076), calc(8 * var(--horiz)) calc(8 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.047), calc(13 * var(--horiz)) calc(13 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.028);
    border: 1px solid rgba(0, 0, 0, 0.068);
}

.check:hover {
    background: #f2f2f2;
}

.list-button {
    height: 2.5em;
    width: 2.5em;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 2px;
}

.list-button:hover {
    background: #f2f2f2;
}

.list-button svg {
    width: 1.25em;
    stroke-width: 1.25px;
}