.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 0 1em;
    height: 100vh;
}

.list-scroll {
    overflow-y: scroll;
}

.list h2 {
    font-style: italic;
    font-family: 'ibm plex sans';
    font-weight: 400;
    font-size: 1.25em;
}